.search-btn{
    text-align: center;
    margin-top: 200px;
}
#meal-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 10px;
}
.meal{
    border: 1px solid maroon;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 5px;
}
.meal img {
    width: 300px;
}